<ion-view cache-view="false" view-title="{{companyName}}: {{'Greeting_en' | translate}}{{userName}}{{time | translate}}{{'Greeting_zh' | translate}} ">
<!--    <ion-nav-title>{{companyName}}</ion-nav-title>-->
    <ion-content>
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="carouselDiv" >
            <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="row">
                <li ng-repeat="news in newsList track by news.id" >
                    <div style="background-image: url('{{news.midImageUrl | imagePath:this }}')" class="bgimage" ng-click="gotoNews(news.id)">
                       <span class="maintitle">#{{ ::news.title }}</span>
                    </div>
                </li>
            </ul>
            <div class="rn-carousel-indicator custom-indicator pull-right">
                <span ng-repeat="news in newsList" ng-class="{active: $index==$parent.carouselIndex2}" ng-click="$parent.carouselIndex2 = $index">
                    {{$index+1}} </span>
            </div>
        </div>
        <div class="padding">
            <div class="row mainNav">
                <div class="col">
                    <a class="button button-light" href="#/tab/totalsearch">
                        <img src="img/projectsummary.png" style="width: 100%"/>
                        {{::ProjectSummary}}</a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#/tab/progress" >
                        <img src="img/projectoverview.png" style="width: 100%;"/>
                        {{::ProjectOverview}}</a>
                </div>

                <div class="col">
                    <a class="button  button-light" href="#/tab/tasks/doing">
                        <img src="img/mytask.png" style="width: 100%"/>
                        {{::MyTask}}
                        <span class="badge badge-assertive" ng-hide="taskCount==0">{{taskCount}}</span>
                    </a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#/tab/urgenttask/doing">
                        <img src="img/postbar.png" style="width: 100%"/>
                        {{::urgentTask}}
                        <span class="badge badge-assertive" ng-hide="urgentTaskCount==0">{{urgentTaskCount}}</span>
                    </a>
                </div>
            </div>
            <div class="row mainNav">
                <div class="col">
                    <a class="button  button-light" href="#/tab/projects">
                        <img src="img/myproject.png" style="width: 100%"/>
                        {{::MyProject}}</a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#/tab/news">
                        <img src="img/news.png" style="width: 100%"/>
                        {{::News}}
                    </a>
                </div>
               <!-- <div class="col">
                    <a class="button  button-light" href="#/tab/importantNews">
                        <img src="img/importantNews.png" style="width: 100%"/>{{::ImportNews}}</a>
                </div>-->
                <div class="col">
                    <a class="button  button-light" href="#/tab/messages">
                        <img src="img/OA.png" style="width: 100%"/>{{ ::Messages}}
                        <span class="badge badge-assertive" ng-hide="newMessageCount==0">{{newMessageCount}}</span>
                    </a>
                </div>
                <div class="col">
                    <a class="button  button-light mainButton" href="#/tab/docs">
                        <img src="img/doc.png" style="width: 100%"/>{{ ::Documents}}</a>
                </div>



            </div>
  <!--          <div class="row mainNav">
                <div class="col">
                    <a class="button  button-light mainButton" href="#/tab/docs">
                        <img src="img/doc.png" style="width: 100%"/>{{ ::Documents}}</a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#/tab/notes">
                        <img src="img/note.png" style="width: 100%"/>{{ ::Notes}}</a>
                </div>
&lt;!&ndash;                <div class="col col-25"></div>&ndash;&gt;
                <div class="col">
                    <a class="button  button-light" href="#/tab/postsubjects">
                        <img src="img/postbar.png" style="width: 100%"/>{{ ::Posts}}</a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#">
                        <img src="img/friend.png" style="width: 100%"/>
                        {{::friendLink}}</a>
                </div>
            </div>-->

        </div>


       <!-- <ul class="list list-inset">
            <li>
                <a class="item" nav-clear href="#/tab/news">{{'News' | translate }}</a>
            </li>
            <li>
                <a class="item" href="#/tab/postsubjects">{{ 'Posts' | translate }}</a>
            </li>
            <li>
                <a class="item"  href="#/tab/notes">{{ 'OA' | translate }}
                    <span class="badge badge-assertive" ng-hide="newMessageCount==0">{{newMessageCount}}</span>
                </a>
            </li>
            <li>
                <a class="item"  href="#/tab/projects">{{ 'Project' | translate }}</a>
            </li>
        </ul>-->
        <ap-Map style="height:400px;margin:12px;box-shadow:0 3px 25px black;" address="{{address}}"> </ap-Map>
    </ion-content>
</ion-view>