<ion-view view-title="{{ companyName }}">
    <ion-content>
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="carouselDiv" >
            <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="row">
                <li ng-repeat="news in newsList track by news.id" >
                    <div style="background-image: url('{{news.midImageUrl | imagePath:this }}')" class="bgimage" ng-click="gotoNews(news.id)">
                       <span class="maintitle">#{{ news.title }}</span>
                    </div>
                </li>
            </ul>
            <div class="rn-carousel-indicator custom-indicator pull-right">
                <span ng-repeat="news in newsList" ng-class="{active: $index==$parent.carouselIndex2}" ng-click="$parent.carouselIndex2 = $index">
                    {{$index+1}} </span>
            </div>
        </div>
        <div class="padding">
            <div class="row mainNav">
                <div class="col">
                    <a class="button button-light" href="#/tab/news">
                        <img src="img/projectSummary.png" style="width: 100%;height:100%;"/>
                        {{'ProjectSummary' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#/tab/news">
                        <img src="img/projectoverview.png" style="width: 100%;height:100%;"/>
                        {{'ProjectOverview' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#/tab/projects">
                        <img src="img/myproject.png" style="width: 100%;height:100%;"/>
                        {{'MyProject' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#/tab/news">
                        <img src="img/mytask.png" style="width: 100%;height:100%;"/>
                        {{'MyTask' | translate }}</a>
                </div>
            </div>
            <div class="row mainNav">
                <div class="col">
                    <a class="button  button-light" href="#/tab/news">
                        <img src="img/news.png" style="width: 100%;height:100%;"/>
                        {{'News' | translate }}</a>
                </div>
                <div class="col ">
                    <a class="button  button-light" href="#/tab/importantNews">
                        <img src="img/importantNews.png" style="width: 100%;height:100%;"/>{{'ImportNews' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#/tab/messages">
                        <img src="img/OA.png" style="width: 100%;height:100%;"/>{{ 'OA' | translate }}
                        <span class="badge badge-assertive" ng-hide="newMessageCount==0">{{newMessageCount}}</span>
                    </a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#/tab/postsubjects">
                        <img src="img/postbar.png" style="width: 100%;height:100%;"/>{{ 'Posts' | translate }}</a>
                </div>

            </div>
            <div class="row mainNav">
                <div class="col">
                    <a class="button  button-light" href="#/tab/docs">
                        <img src="img/doc.png" style="width: 100%;height:100%;"/>{{ 'Documents' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#/tab/notes">
                        <img src="img/note.png" style="width: 100%;height:100%;"/>{{ 'Notes' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-light" href="#" ng-click="showSplashScreen()">
                        <img src="img/note.png" style="width: 100%;height:100%;"/>{{ 'Notes' | translate }}</a>
                </div>
                <div class="col"></div>
            </div>
        </div>


       <!-- <ul class="list list-inset">
            <li>
                <a class="item" nav-clear href="#/tab/news">{{'News' | translate }}</a>
            </li>
            <li>
                <a class="item" href="#/tab/postsubjects">{{ 'Posts' | translate }}</a>
            </li>
            <li>
                <a class="item"  href="#/tab/notes">{{ 'OA' | translate }}
                    <span class="badge badge-assertive" ng-hide="newMessageCount==0">{{newMessageCount}}</span>
                </a>
            </li>
            <li>
                <a class="item"  href="#/tab/projects">{{ 'Project' | translate }}</a>
            </li>
        </ul>-->
    </ion-content>
</ion-view>