<ion-view view-title="{{ companyName }}">
    <ion-content>
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="carouselDiv" >
            <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="row">
                <li ng-repeat="news in newsList track by news.id">
                    <div style="background-image: url('{{news.midImageUrl | imagePath:this }}')" href="#/tab/news/{{news.id}}" class="bgimage">
                        #{{ news.title }}
                    </div>
                </li>
            </ul>
            <div class="rn-carousel-indicator custom-indicator pull-right">
                <span ng-repeat="news in newsList" ng-class="{active: $index==$parent.carouselIndex2}" ng-click="$parent.carouselIndex2 = $index"> {{$index+1}} </span>
            </div>
        </div>
        <div class="padding list-inset">
            <div class="row mainNav">
                <div class="col">
                    <a class="button  button-calm" href="#/tab/news">{{'ProjectSummary' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-calm" href="#/tab/news">{{'ProjectOverview' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-calm" href="#/tab/news">{{'MyProject' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-calm" href="#/tab/news">{{'MyTask' | translate }}</a>
                </div>
            </div>
            <div class="row mainNav">
                <div class="col">
                    <a class="button  button-calm" href="#/tab/news">{{'News' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-calm" href="#/tab/messages">{{ 'OA' | translate }}
                        <span class="badge badge-assertive" ng-hide="newMessageCount==0">{{newMessageCount}}</span>
                    </a>
                </div>
                <div class="col">
                    <a class="button  button-calm" href="#/tab/postsubjects">{{ 'Posts' | translate }}</a>
                </div>
                <div class="col ">
                    <a class="button  button-calm" href="#/tab/importantNews">{{'ImportNews' | translate }}</a>
                </div>
            </div>
            <div class="row mainNav">
                <div class="col">
                    <a class="button  button-calm" href="#/tab/docs">{{ 'Documents' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button  button-calm" href="#/tab/notes">{{ 'Notes' | translate }}</a>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>


       <!-- <ul class="list list-inset">
            <li>
                <a class="item" nav-clear href="#/tab/news">{{'News' | translate }}</a>
            </li>
            <li>
                <a class="item" href="#/tab/postsubjects">{{ 'Posts' | translate }}</a>
            </li>
            <li>
                <a class="item"  href="#/tab/notes">{{ 'OA' | translate }}
                    <span class="badge badge-assertive" ng-hide="newMessageCount==0">{{newMessageCount}}</span>
                </a>
            </li>
            <li>
                <a class="item"  href="#/tab/projects">{{ 'Project' | translate }}</a>
            </li>
        </ul>-->
    </ion-content>
</ion-view>