# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
platforms/.DS_Store resources/.DS_Store www/.DS_Store
platforms/android/.DS_Store resources/android/.DS_Store resources/ios/.DS_Store www/img/.DS_Store www/js/.DS_Store www/lib/.DS_Store www/templates/.DS_Store
