<ion-view view-title="{{::ProjectOverview}}">
    <ion-header-bar class="bar-subheader ">
        <ion-scroll direction="x" class="wide-as-needed">

            <a ng-class="{'button button-clear': currentType!='project','button button-clear button-calm': currentType== 'project'} "
               ng-click="changeTab('project')">
                {{::projectProgress}} |
            </a>
            <a ng-class="{'button button-clear': currentType!='factory','button button-clear button-calm': currentType== 'factory'} "
               ng-click="changeTab('factory')">
                {{::factoryProgress}} |
            </a>

        </ion-scroll>
    </ion-header-bar>

    <ion-content class="OA-content">
        <ion-refresher
                pulling-text="{{ ::PullToFresh}}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-divider">{{progressName}} ({{::progressTo}} {{date | date:'yyyy-MM-dd'}})</ion-item>
            <ion-item ng-repeat="item in progressList track by $index" class="item" href="#/tab/progressdetail/{{currentType}}/{{item.itemID}}">
                <h2>{{objectName}}: {{item.itemName}}</h2>
                <p>
<!--                    {{::progressStatus}}:-->
                    {{::CurrentStartStatus}}:
                    <span ng-if="item.currentStartStatus > 0"> {{::progressInAdvance}} {{item.currentStartStatus}}</span>
                    <span ng-if="item.currentStartStatus < 0" class="progressDelay"> {{::progressDelay}} {{item.currentStartStatus}}</span>
                    {{progressDays}}
                </p>
                <p>
                    {{::PredictEndStatus}}:
                    <span ng-if="item.predictStatus > 0 || item.predictStatus == 0"> {{::progressInAdvance}} {{item.predictStatus}}</span>
                    <span ng-if="item.predictStatus < 0" class="progressDelay"> {{::progressDelay}} {{item.predictStatus}}</span>
                    {{progressDays}}
                </p>

              <!--  <p>
                    {{::progressDuration}}:
                    {{::progressPlan}} {{item.planDuration}} {{::progressDays}}
&lt;!&ndash;                    {{::progressUsed}} {{item.actualDuration}} {{::progressDays}}&ndash;&gt;
                    {{::progressPredict}} {{item.predictDuration}} {{::progressDays}}
                </p>-->
              <!--  <p>
                    {{::progressDate}}:
                </p>-->
                <p>
                    {{::PlanProcessDate}}: {{item.sumDate_plan_start | date:'yyyy-MM-dd'}} ~ {{item.sumDate_plan_end | date:'yyyy-MM-dd'}}({{item.planDuration}}{{progressDays}})
                </p>
               <!-- <p>
                    {{::progressActual}}: {{item.sumDate_actual_start | date:'yyyy-MM-dd'}} ~ {{item.sumDate_actual_end | date:'yyyy-MM-dd'}}
                </p>-->
                <p>
                    {{::PredictProcessDate}}: {{item.sumDate_predict_start | date:'yyyy-MM-dd'}} ~ {{item.sumDate_predict_end | date:'yyyy-MM-dd'}}({{item.predictDuration}}{{progressDays}})
                </p>
            </ion-item>
<!--            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>