
<ion-view view-title="{{::ProjectSummary}}">
    <ion-header-bar class="bar-subheader ">

        <ion-scroll direction="x" class="wide-as-needed">

            <a ng-class="{'button button-clear': currentType!='totalSearch','button button-clear button-calm': currentType== 'totalSearch'} "
               href="#/tab/totalsearch">
                {{::TotalSearch}} |
            </a>
            <a ng-class="{'button button-clear': currentType!='factorySearch','button button-clear button-calm': currentType== 'factorySearch'} "
               href="#/tab/factorysearch">
                {{::factorySummary}} |
            </a>
            <a ng-class="{'button button-clear': currentType!='projectMonthSummary','button button-clear button-calm': currentType== 'projectMonthSummary'} "
               href="#/tab/projectsummary">
                {{::projectMonthSummary}} |
            </a>
            <a ng-class="{'button button-clear': currentType!='ProjectTotalSummary','button button-clear button-calm': currentType== 'ProjectTotalSummary'} "
               href="#/tab/projecttotalsummary">
                {{::ProjectTotalSummary}} |
            </a>
        </ion-scroll>
    </ion-header-bar>

    <ion-content class="OA-content">
        <ion-refresher
                pulling-text="{{ ::PullToFresh}}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-divider">{{::DateLabel}} （{{::startDate | amDateFormat:'YYYY-MM-DD'}} ~ {{::date | amDateFormat:'YYYY-MM-DD'}})</ion-item>
            <ion-item ng-repeat="item in totalSummary track by $index" class="item">
                <p>
                    {{::completed}}: {{item.actual | number:1 }}{{::dun}}
                </p>
                    <p >
                        {{::plan}}: {{item.plan | number:1}}{{::dun}}
                    </p>
                    <p >
                        {{::percent}}: {{item.percent }}
                    </p>
            </ion-item>
        </ion-list>
        <ion-list>
            <div ng-repeat="(name,items) in summaryItem" >
                <ion-item class="item-divider">{{ ::projectName}}: {{::name}} </ion-item>
                <ion-item ng-repeat="item in items" class="item" href="#/tab/summarydetail/{{item.itemID}}/{{name}}" > <!-- href="#/tab/summarydetail/{{item.itemID}}/{{searchDate}}/{{searchStyle}}/{{searchStatus}}"-->
                    <p>{{::completed}}: {{item.actual | number:1 }}</p>
                    <p>{{::plan}}: {{item.plan | number:1}}</p>
                    <p>
                        {{::percent}}: {{item.percent }}
                    </p>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>