<ion-view view-title="{{'ProjectSummary' | translate }}">
    <ion-header-bar class="bar-subheader ">

        <ion-scroll direction="x" class="wide-as-needed">

            <a ng-class="{'button button-clear': currentType!='totalSearch','button button-calm': currentType== 'totalSearch'} "
               href="#/tab/totalsearch">
                {{'TotalSearch' | translate }}
            </a>
            <a ng-class="{'button button-clear': currentType!='factorySearch','button button-calm': currentType== 'factorySearch'} "
               href="#/tab/factorysearch">
                {{'factorySummary' | translate }}
            </a>
            <a ng-class="{'button button-clear': currentType!='projectMonthSummary','button button-calm': currentType== 'projectMonthSummary'} "
               href="#/tab/projectsummary">
                {{'projectMonthSummary' | translate }}
            </a>
            <a ng-class="{'button button-clear': currentType!='ProjectTotalSummary','button button-calm': currentType== 'ProjectTotalSummary'} "
               href="#/tab/projecttotalsummary">
                {{'ProjectTotalSummary' | translate }}
            </a>
        </ion-scroll>
    </ion-header-bar>

    <ion-content class="OA-content">
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list>
            <div ng-repeat="(name,items) in details">
                <ion-item class="item-divider">{{projectName}} （{{startDate | amDateFormat:'YYYY-MM-DD'}} ~ {{date | amDateFormat:'YYYY-MM-DD'}}) </ion-item>
               <!-- <ion-item class="item-divider">
                    <div class="row">
                        <div class="col col-33">{{ 'projectName' | translate }}</div>
                        <div class="col">{{'completed' | translate }}</div>
                        <div class="col">{{'actual' | translate }}</div>
                        <div class="col">{{'percent' | translate }}</div>
                    </div>
                </ion-item>-->
                <ion-item ng-repeat="item in items" class="item">
                    <h2>{{ 'projectName' | translate }}: {{item.itemName}}</h2>
                    <p>{{'completed' | translate }}: {{item.actual | number:1 }}</p>
                    <p>{{'plan' | translate }}: {{item.plan | number:1}}</p>
                    <p>
                        {{'percent' | translate }}: {{item.percent }}
                    </p>
                   <!-- <div class="row">
                        <div class="col col-33">{{ item.itemName}}</div>

                        <div class="col">
                            {{item.actual | number:1 }}
                        </div>
                        <div class="col">
                            {{item.plan | number:1}}
                        </div>
                        <div class="col">
                            {{item.percent }}
                        </div>
                    </div>-->
<!--                    <p>{{ item.itemName}}: {{item.percent }}   {{item.actual | number:1 }}  {{item.plan | number:1}}</p>-->
                </ion-item>
            </div>
<!--            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>