
<ion-view view-title="{{::ProjectSummary}}">
    <ion-header-bar class="bar-subheader ">

        <ion-scroll direction="x" class="wide-as-needed">

            <a ng-class="{'button button-clear': currentType!='totalSearch','button button-calm': currentType== 'totalSearch'} "
               href="#/tab/totalsearch">
                {{::TotalSearch}}
            </a>
            <a ng-class="{'button button-clear': currentType!='factorySearch','button button-calm': currentType== 'factorySearch'} "
               href="#/tab/factorysearch">
                {{::factorySummary}}
            </a>
            <a ng-class="{'button button-clear': currentType!='projectMonthSummary','button button-calm': currentType== 'projectMonthSummary'} "
               href="#/tab/projectsummary">
                {{::projectMonthSummary}}
            </a>
            <a ng-class="{'button button-clear': currentType!='ProjectTotalSummary','button button-calm': currentType== 'ProjectTotalSummary'} "
               href="#/tab/projecttotalsummary">
                {{::ProjectTotalSummary}}
            </a>
        </ion-scroll>
    </ion-header-bar>

    <ion-content class="OA-content">
        <ion-refresher
                pulling-text="{{ ::PullToFresh}}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{::startDate}}: </span><!--| amDateFormat:'YYYY-MM-DD' -->
                <input type="text" ng-model="searchDate.startDate "
                       ng-click="showDatePicker('start')">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{::endDate}}: </span>
                <input type="text" ng-model="searchDate.endDate "
                       ng-click="showDatePicker('end')">
            </label>
        </ion-list>
        <div class="padding">
            <button class="button button-block button-calm activated" ng-click="search()">{{ 'search' | translate}}</button>
        </div>

        <ion-list>
                <ion-item ng-repeat="item in searchResult" class="item"> <!-- href="#/tab/summarydetail/{{item.itemID}}/{{searchDate}}/{{searchStyle}}/{{searchStatus}}"-->
                    <h2>{{ 'searchDate' | translate }}: {{::item.itemName}}</h2>
                    <p>{{::completed}}: {{::item.actual | number:1 }}</p>
                    <p>{{::plan}}: {{::item.plan | number:1}}</p>
                    <p>
                        {{::percent}}: {{::item.percent }}
                    </p>
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>