<ion-view view-title="{{ 'Notes' | translate }}">
    <ion-header-bar class="bar bar-subheader buttons-right custom-subheader">
        <div class="tabs">
            <a class="tab-item tab-item-active" ui-sref="tab.notes">
                <p>{{ 'Notes' | translate }}</p>
            </a>
            <a class="tab-item" ui-sref="tab.docs">
                <p>{{ 'Documents' | translate }}</p>
            </a>
            <a class="tab-item" ui-sref="tab.messages">
                <p>{{ 'Messages' | translate }}</p>
            </a>
        </div>

    </ion-header-bar>
    <ion-content class="padding OA-content">


        <div class="list card padding">
            <div class="item">
                <h2>{{'NewNote' | translate }}</h2>
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'Title' | translate }}: </span>
                <input type="text" ng-model="note.title" id="contentinput">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'Content' | translate }}: </span>
<!--                <textarea ng-keyup="autoExpand($event)" ng-model="note.content"></textarea>-->
            </label>
            <div text-angular ng-model="note.content" name="demo-editor" ta-text-editor-class="border-around padding" ta-html-editor-class="border-around"></div>
        </div>

        <div class="padding">
            <button class="button button-block button-calm activated" ng-click="saveNote()">{{ 'Submit' | translate }}</button>
        </div>

    </ion-content>

</ion-view>
<!--<script type="text/javascript">
    $(document).ready(function() {
        KindEditor.ready(function (K) {
            window.editor = K.create('#contentinput', {
                uploadJson: "<c:url value='/editeruploadattachement'/>",
                fileManagerJson: "<c:url value='/editeruploadattachement'/>",
                allowFileManager: true, filterMode: false
            });
        });
    });
</script>-->
