<ion-view view-title="{{ 'Notes' | translate }}">
    <ion-header-bar class="bar bar-subheader buttons-right custom-subheader">
        <div class="tabs">
            <a class="tab-item tab-item-active" ui-sref="tab.notes">
                <p>{{ 'Notes' | translate }}</p>
            </a>
            <a class="tab-item" ui-sref="tab.docs">
                <p>{{ 'Documents' | translate }}</p>
            </a>
            <a class="tab-item has-badge" ui-sref="tab.messages">
                <p>{{ 'Messages' | translate }}</p>
                <span class="badge badge-assertive" ng-hide="newMessageCount==0">{{newMessageCount}}</span>
            </a>
        </div>

    </ion-header-bar>
    <ion-content class="mainContent OA-content">
        <div class="list card">
            <div class="item">
                <h2>{{'NoteDetail' | translate }}</h2>
            </div>
            <div class="item">
<!--                <img src="avatar.jpg">-->
                <h2>{{note.title}}</h2>
                <p>{{note.createTime | date:'yyyy-MM-dd' }}</p>
            </div>

           <!-- <div class="item item-image">
                <img src="{{ServerUrl}}{{news.thumbnailUrl}}">
            </div>-->
            <div class="item item-body">
                <p ng-bind-html="note.content | image:this"></p>
            </div>
            <!--<a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i>
                Start listening
            </a>-->
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#/tab/note/edit/{{note.id}}">
                    <i class="icon ion-edit"></i>
                    {{ 'Edit' | translate}}
                </a>
                <a class="tab-item"  href="#/tab/note/send/{{note.id}}">
                    <i class="icon ion-share"></i>
                    {{'Send' | translate }}
                </a>
            </div>
        </div>

    </ion-content>

</ion-view>