<ion-view view-title="{{ 'Notes' | translate }}">

   <!-- <ion-header-bar class="bar bar-subheader buttons-right custom-subheader">
        <div class="tabs">
            <a class="tab-item tab-item-active" ui-sref="tab.notes">
                <p>{{ 'Notes' | translate }}</p>
            </a>
            <a class="tab-item" ui-sref="tab.docs">
                <p>{{ 'Documents' | translate }}</p>
            </a>
            <a class="tab-item has-badge" ui-sref="tab.messages">
                <p>{{ 'Messages' | translate }}</p>
                <span class="badge badge-assertive"ng-hide="newMessageCount==0">{{newMessageCount}}</span>
            </a>
        </div>

    </ion-header-bar>-->
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button ><!--class="button-icon ion-arrow-left-c"-->
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <img class="title-image" ng-disabled="!userName" ng-click="goHome()" src="img/icon_b.png" />
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a class="button button-icon ion-plus-circled" ng-disabled="userName == null" href="#/tab/note/new">
            </a>
           <!-- <button class="button button-icon button-clear ion-navicon" ng-disabled="userName == null" ng-click="showRightMenu()">
            </button>-->
            <button class="button button-icon button-clear " ng-show="userName" ng-click="logout()">
                {{'Logout' | translate }}
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content >
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="note in noteList" class="item" href="#/tab/notes/{{note.id}}">
                <h2>{{ note.title }}</h2>

                <p> {{ note.createTime | date:'yyyy-MM-dd' }}</p>
            </ion-item>
            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>
           <!-- <div class="item">
                <a class="button  button-calm" href="#/tab/note/new">{{ 'NewNote' | translate}} </a>
            </div>-->
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>