<ion-view view-title="{{ 'Notes' | translate }}">
 <!--   <ion-header-bar class="bar bar-subheader buttons-right custom-subheader">
        <div class="tabs">
            <a class="tab-item tab-item-active" ui-sref="tab.notes">
                <p>{{ 'Notes' | translate }}</p>
            </a>
            <a class="tab-item" ui-sref="tab.docs">
                <p>{{ 'Documents' | translate }}</p>
            </a>
            <a class="tab-item has-badge" ui-sref="tab.messages">
                <p>{{ 'Messages' | translate }}</p>
                <span class="badge badge-assertive" ng-hide="newMessageCount==0">{{newMessageCount}}</span>
            </a>
        </div>

    </ion-header-bar>-->
    <ion-content class="padding ">
<!--        <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around padding" ta-html-editor-class="border-around"></div>-->

        <div class="list card padding">
            <div class="item">
                <h2>{{'Send' | translate }}</h2>
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'Title' | translate }}: </span>
                <input type="text" ng-model="note.title" readonly="readonly">
            </label>
            <label class="item item-body item-stacked-label">
                <span class="input-label">{{'Content' | translate }}: </span>
<!--                <textarea ng-keyup="autoExpand($event)" ng-model="note.content" readonly="readonly"></textarea>-->
                <p ng-bind-html="note.content | image:this"></p>
            </label>
<!--             <div text-angular ng-model="note.content" name="demo-editor" ta-text-editor-class="border-around padding" ta-html-editor-class="border-around"></div>-->
            <fancy-select class="fancy-select item"
                          header-text="{{'ChooseUser' | translate }}"
                          allow-empty='true'
                          value="note.sendUsers"
                          label="ChooseUser"
                          text="NoChooseUser"
                          items="userList"
                          multi-select="true"
                          >
            </fancy-select>
            <fancy-select class="fancy-select item"
                          header-text="{{'ChooseUserGroup' | translate }}"
                          allow-empty='true'
                          label="ChooseUserGroup"
                          value="note.sendGroups"
                          text="NoChooseUserGroup"
                          items="groupList"
                          multi-select="true">
            </fancy-select>
            <fancy-select class="fancy-select item"
                          header-text="{{'ChooseDepartment' | translate }}"
                          allow-empty='true'
                          label="ChooseDepartment"
                          value="note.sendDepartments"
                          text="NoChooseDepartment"
                          items="departmentList"
                          multi-select="true">
            </fancy-select>
        </div>
        <div class="padding">
            <button class="button button-block button-calm activated" ng-click="send()">{{ 'Send' | translate }}</button>
        </div>

    </ion-content>

</ion-view>
