<ion-view view-title="ICMS 2015" name="login-view">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button ><!--class="button-icon ion-arrow-left-c"-->
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
           <!-- <button class="button button-icon button-clear">   ion-ionic ng-click="showMenu()"-->
                <img class="title-image" src="img/icon_b.png"  />
                <!--{{'mainMenuHeader' | translate}}-->
           <!-- </button>-->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label login-label">{{::UserName}}</span>
                <input type="text"  ng-model="data.userName" required>
            </label>
            <label class="item item-input">
                <span class="input-label login-label">{{ ::Password}}</span>
                <input type="password"  ng-model="data.password" required>
            </label>
        </div>
        <label class="item item-toggle">
          <span class="login-label"> {{::RemeberMe}}</span>
            <label class="toggle">
                <input type="checkbox" ng-model="data.remeberMe">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </label>
        <!--<label class="item item-input item-select">
            <div class="input-label">
                {{'Language' | translate }}
            </div>
            <select ng-model="data.language" ng-change="changeLanguage()">
                <option value="zh" selected="data.language=='zh'">{{ 'BUTTON_TEXT_ZH' | translate }}</option>
                <option value="en" selected="data.language=='en'" >{{'BUTTON_TEXT_EN'| translate }}</option>
            </select>
        </label>-->
        <!--<p class="padding">-->
            <button class="button button-block button-calm" ng-click="login()">{{ ::Login}}</button>
            <a class="button button-block" href="#/signup">{{ ::SignUp}}</a>
        <!--</p>-->
    </ion-content>
    <div class="bar bar-footer bar-light item-input-inset">
<!--        <button class="button button-clear hide">Left</button>-->
        <label class=" item-input item-select">
            <div class="input-label">
                {{::Language}}
            </div>
            <select ng-model="data.language" ng-change="changeLanguage()">
                <option value="zh" selected="data.language=='zh'">{{ ::BUTTON_TEXT_ZH}}</option>
                <option value="en" selected="data.language=='en'" >{{::BUTTON_TEXT_EN}}</option>
            </select>
        </label>

      <!--  <button class="button button-clear">Right</button>-->
    </div>
</ion-view>