<ion-view view-title="{{ 'Posts' | translate }}">
    <ion-content class="padding">
        <!--        <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around padding" ta-html-editor-class="border-around"></div>-->

        <div class="list card padding">
            <div class="item">
                <h2>{{'NewPostBar' | translate }}</h2>
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'Title' | translate }}: </span>
                <input type="text" ng-model="postBar.title">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'Content' | translate }}: </span>

                <p>
                    <textarea ng-keyup="autoExpand($event)" ng-model="postBar.content"></textarea>
                </p>
            </label>
<!--            <div text-angular ng-model="postBar.content" name="demo-editor" ta-text-editor-class="border-around padding" ta-html-editor-class="border-around"></div>-->
            <div class="item">
                <span class="checkbox">{{'ViewLimit' | translate }}: </span>
                <label class="toggle">
                    <input type="checkbox" ng-model="limitView">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <fancy-select class="fancy-select item" ng-show="limitView"
                          header-text="{{'ChooseViewUser' | translate }}"
                          allow-empty='true'
                          value="postBar.viewUsers"
                          label="ChooseViewUser"
                          text="NoChooseViewUser"
                          items="viewUserList"
                          multi-select="true">
            </fancy-select>
            <fancy-select class="fancy-select item" ng-show="limitView"
                          header-text="{{'ChooseViewUserGroup' | translate }}"
                          allow-empty='true'
                          label="ChooseViewUserGroup"
                          value="postBar.viewGroups"
                          text="NoChooseViewUserGroup"
                          items="viewGroupList"
                          multi-select="true">
            </fancy-select>
            <div class="item">
                <span class="checkbox">{{'ReplyLimit' | translate }}: </span>
                <label class="toggle">
                    <input type="checkbox" ng-model="limitReply">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <fancy-select class="fancy-select item" ng-show="limitReply"
                          header-text="{{'ChooseReplyUser' | translate }}"
                          allow-empty='true'
                          value="postBar.replyUsers"
                          label="ChooseReplyUser"
                          text="NoChooseReplyUser"
                          items="replyUserList"
                          multi-select="true">
            </fancy-select>
            <fancy-select class="fancy-select item" ng-show="limitReply"
                          header-text="{{'ChooseReplyUserGroup' | translate }}"
                          allow-empty='true'
                          label="ChooseReplyUserGroup"
                          value="postBar.replyGroups"
                          text="NoChooseReplyUserGroup"
                          items="replyGroupList"
                          multi-select="true">
            </fancy-select>




        </div>
        <div class="padding">
            <button class="button button-block button-calm activated" ng-click="save()">{{ 'Submit' | translate }}
            </button>
            <button class="button button-block button-assertive" ng-click="delete()">{{ 'Undo' | translate }}</button>

        </div>

    </ion-content>

</ion-view>
