<ion-view view-title="{{ 'Posts' | translate }}">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button ><!--class="button-icon ion-arrow-left-c"-->
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <img class="title-image" ng-disabled="!userName" ng-click="goHome()" src="img/icon_b.png" />
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a  class="button button-icon ion-plus-circled" ng-disabled="userName == null" href="#/tab/postbar/{{subjectId}}/new">
            </a>
            <!--<button class="button button-icon button-clear ion-navicon" ng-disabled="userName == null" ng-click="showRightMenu()">
            </button>-->
            <button class="button button-icon button-clear " ng-show="userName" ng-click="logout()">
                {{'Logout' | translate }}
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>

        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item  ng-repeat="item in postBarList" class="item" href="#/tab/postbar/{{item.id}}"  >
                <h2>{{ item.title }}</h2>
                <p> {{item.createTime | date:'yyyy-MM-dd' }}</p>
            </ion-item>
            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>
           <!-- <div class="item">
                <a class="button  button-calm" href="#/tab/postbar/{{subjectId}}/new">{{ 'NewPostBar' | translate}} </a>
            </div>-->
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>