<ion-view view-title="{{ 'Posts' | translate }}">

    <ion-content>

        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item  ng-repeat="item in postBarList" class="item item-button-right" href="#/tab/postbar/{{item.id}}"  >
                <h2>{{ item.title }}</h2>
                <p> {{item.createTime | date:'yyyy-MM-dd' }}</p>
            </ion-item>
            <ion-item ng-show="!(postBarList | filter:nameText).length">{{'EmptyContent' | translate}}</ion-item>
            <div class="item">
                <a class="button  button-calm" href="#/tab/postbar/{{subjectId}}/new">{{ 'NewPostBar' | translate}} </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>