<ion-view view-title="{{ 'Documents' | translate }}">
 <!--   <ion-header-bar class="bar bar-subheader custom-subheader">
        <div class="tabs">
            <a class="tab-item" ui-sref="tab.notes">
                <p>{{ 'Notes' | translate }}</p>
            </a>
            <a class="tab-item tab-item-active" ui-sref="tab.docs">
                <p>{{ 'Documents' | translate }}</p>
            </a>
            <a class="tab-item has-badge" ui-sref="tab.messages">
                <p>{{ 'Messages' | translate }}</p>
                <span class="badge badge-assertive" ng-hide="newMessageCount==0">{{newMessageCount}}</span>
            </a>

        </div>
    </ion-header-bar>-->
    <ion-header-bar class="bar bar-subheader button-right custom-subheader">
        <div class="tabs" tab-slide-box>
            <a class="tab-item" ng-click="docListByType('all')">
                <p> {{'All' | translate }} </p>
            </a>
            <a class="tab-item" ng-repeat="doctype in docTypeList" ng-click="docListByType({{doctype.id}})">
                <p>{{doctype.name}}</p>
            </a>
        </div>
        <!--        <a class="button button-clear pull-right">Button</a>-->
    </ion-header-bar>
    <ion-content >

        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item  ng-repeat="doc in DocList" class="item item-button-right" >
                <h2>{{ doc.name }}</h2>
                <p>{{'FileName'| translate}}: {{doc.fileName}}</p>
                <p><!--{{'Owner' | translate }}:{{doc.creater.fullName}}-->
                 {{doc.createTime | date:'yyyy-MM-dd' }}</p>
<!--                <span class="item-note ago" am-time-ago="doc.createTime"/>-->
                <p>{{imgFile}}</p>
                <p ng-bind-html="doc.introduction | image:this"></p>
                <button class="button button-positive" ng-click="download(doc.fileName,doc.id)" >
                    <i class="icon ion-ios-download"></i>
                </button>
            </ion-item>
            <ion-item ng-show="!(DocList | filter:nameText).length">{{'EmptyContent' | translate}}</ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoadMore()"></ion-infinite-scroll>
		<!--<button class="button" ng-click="download()"> Download</button>-->
    </ion-content>
</ion-view>
