<ion-view view-title="{{ 'Documents' | translate }}">
 <!--   <ion-header-bar class="bar bar-subheader custom-subheader">
        <div class="tabs">
            <a class="tab-item" ui-sref="tab.notes">
                <p>{{ 'Notes' | translate }}</p>
            </a>
            <a class="tab-item tab-item-active" ui-sref="tab.docs">
                <p>{{ 'Documents' | translate }}</p>
            </a>
            <a class="tab-item has-badge" ui-sref="tab.messages">
                <p>{{ 'Messages' | translate }}</p>
                <span class="badge badge-assertive" ng-hide="newMessageCount==0">{{newMessageCount}}</span>
            </a>

        </div>
    </ion-header-bar>-->
    <ion-header-bar class="bar bar-subheader button-right custom-subheader">
        <ion-scroll direction="x" class="wide-as-needed">

            <a ng-class="{'button button-clear': currentType!='all','button button-calm': currentType== 'all'} "  ng-click="docListByType('all')">
                {{'All' | translate }}
            </a>
            <a ng-class="{'button button-clear': currentType != doctype.id,'button button-calm': currentType == doctype.id} " ng-repeat="doctype in docTypeList" ng-click="docListByType({{doctype.id}})">
                {{doctype.name}}
            </a>
        </ion-scroll>
        <!--<div class="tabs" tab-slide-box>
            <a class="tab-item" ng-click="docListByType('all')">
                <p> {{'All' | translate }} </p>
            </a>
            <a class="tab-item" ng-repeat="doctype in docTypeList" ng-click="docListByType({{doctype.id}})">
                <p>{{doctype.name}}</p>
            </a>
        </div>-->
        <!--        <a class="button button-clear pull-right">Button</a>-->
    </ion-header-bar>
    <ion-content >

        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item  ng-repeat="doc in DocList" class="item" href="#/tab/docs/{{doc.id}}"> <!-- href="#/tab/docs/{{doc.id}}"  -->
                <h2>{{ doc.name }}</h2>
                <p ng-show="doc.fileName">{{'FileName'| translate}}: {{doc.fileName}}
                 {{doc.createTime | date:'yyyy-MM-dd' }}</p>
                <p ng-bind-html="doc.introduction | image:this"></p>
                <!--<button class="button button-positive" ng-if="doc.fileName" ng-click="download(doc.fileName,doc.id)" >
                    <i class="icon ion-ios-download"></i>
                </button>-->
            </ion-item>
            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoadMore()"></ion-infinite-scroll>
		<!--<button class="button" ng-click="download()"> Download</button>-->
    </ion-content>
</ion-view>
