<ion-view view-title="{{ companyName }}">
    <ion-header-bar class="bar-subheader ">
        <ion-scroll direction="x" class="wide-as-needed">

            <a ng-class="{'button button-clear': currentType!='all','button button-calm': currentType== 'all'} "  ng-click="newsListByType('all')">
                {{'All' | translate }}
            </a>
            <a ng-class="{'button button-clear': currentType != newstype.id,'button button-calm': currentType == newstype.id} " ng-repeat="newstype in newsTypeList" ng-click="newsListByType({{newstype.id}})">
                {{newstype.name}}
            </a>
            </ion-scroll>
<!--        <a class="button button-clear pull-right">Button</a>-->
    </ion-header-bar>

    <ion-content class="OA-content">
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
           <!-- <ion-item class="item item-image">
                <img ng-src="{{newsList[0].midImageUrl | imagePath:this }}"/>
            </ion-item>-->
            <ion-item ng-class="{'item item-thumbnail-right': $index%5 !=0 ,'item midImg item-image': $index%5==0}" ng-repeat="item in newsList track by item.id" href="#/tab/news/{{item.id}}">
                <img ng-if="$index%5 != 0" ng-src="{{::item.thumbnailUrl | imagePath:this }}">
                <img class="newsMidimage" ng-if="$index%5 == 0" ng-src="{{::item.midImageUrl | imagePath:this }}">

                <h2  ng-class="{'textLeft': $index%5 == 0 }" >{{ ::item.title }}</h2>

                <p ng-if="$index%5 != 0" class="summary">
                    <span><!--{{'NewsType' | translate}}:-->{{::item.newsType.name}} {{::item.createTime | date:'yyyy-MM-dd' }}</span>
                    <!--<span class="ago" am-time-ago="item.createTime"/>-->
                </p>
                <p ng-if="$index%5 !=0" class="summary">{{::item.summary}}</p>
            </ion-item>
<!--            <ion-item ng-show="!(newsList | filter:nameText).length">{{'Loading' | translate}}</ion-item>-->
            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoadMore()"></ion-infinite-scroll>
<!--        <ion-spinner class="ng-hide" ng-show="!newsList" icon="spiral"></ion-spinner>-->

    </ion-content>
</ion-view>