<ion-view view-title="{{ 'News' | translate }}">
    <ion-content>
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="item in newsList" href="#/tab/news/{{item.id}}">
                <img src="{{item.thumbnailUrl | imagePath:this}}">

                <h2>{{ item.title }}</h2>

                <p>{{'NewsType' | translate}}:{{item.newsType.name}} {{item.createTime | date:'yyyy-MM-dd' }}</p>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>