<ion-view view-title="{{ companyName }}">
    <ion-header-bar class="bar bar-subheader button-right custom-subheader">
        <div class="tabs" tab-slide-box>
            <a ng-class="{'tab-item': currentType!='all','tab-item tab-item-active': currentType== 'all'} "  ng-click="newsListByType('all')">
                <p> {{'All' | translate }} </p>
            </a>
            <a ng-class="{'tab-item': currentType != newstype.id,'tab-item tab-item-active': currentType == newstype.id} " ng-repeat="newstype in newsTypeList" ng-click="newsListByType({{newstype.id}})">
                <p>{{newstype.name}}</p>
            </a>
        </div>
<!--        <a class="button button-clear pull-right">Button</a>-->
    </ion-header-bar>

    <ion-content class="OA-content">
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
           <!-- <ion-item class="item item-image">
                <img ng-src="{{newsList[0].midImageUrl | imagePath:this }}"/>
            </ion-item>-->
            <ion-item ng-class="{'item item-thumbnail-right': $index%5 !=0 ,'item midImg item-image': $index%5==0}" ng-repeat="item in newsList" href="#/tab/news/{{item.id}}">
                <img ng-if="$index%5 != 0" ng-src="{{item.thumbnailUrl | imagePath:this }}">
                <img class="newsMidimage" ng-if="$index%5 == 0" ng-src="{{item.midImageUrl | imagePath:this }}">

                <h2  ng-class="{'textLeft': $index%5 == 0 }" >{{ item.title }}</h2>

                <p ng-if="$index%5 != 0" class="summary">
                    <span><!--{{'NewsType' | translate}}:-->{{item.newsType.name}} <!--{{item.createTime | date:'yyyy-MM-dd' }}--></span>
                    <span class="ago" am-time-ago="item.createTime"/>
                </p>
                <p ng-if="$index%5 !=0" class="summary">{{item.summary}}</p>
            </ion-item>
<!--            <ion-item ng-show="!(newsList | filter:nameText).length">{{'Loading' | translate}}</ion-item>-->
            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoadMore()"></ion-infinite-scroll>
<!--        <ion-spinner class="ng-hide" ng-show="!newsList" icon="spiral"></ion-spinner>-->
    </ion-content>
</ion-view>