/* Empty. Add your own CSS if you like */
.toptabs {
    width:3000px;
}
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
*[contenteditable] {
    -webkit-user-select: text !important;
}
.border-around{
    border:1px solid rgba(2,2,2,0.1);
    border-radius: 6px;
    vertical-align: text-bottom;
}
.title-image {
    max-width: 38px;
    max-height: 38px;

}
textarea {
    height:auto;
    /*color:#999;
    font-weight:400;
    font-size:30px;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;*/
    width:100%;
    background:#fff;
    border-radius:3px;
    line-height:2em;
    border:none;
/*    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);*/
    padding:10px;
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
}
.custom-subheader {
    /*padding-top: 90px;*/
}
.OA-content {
    /*padding-top: 50px;*/
}
.bar-footer label {
    width: 100%;
}
.bgimage {
    text-align:left;
    position: relative;
    color:white;
    background-size:100% 100%;
    height: 100%;
    background-position: center center;
}
.maintitle {
    position:absolute;
    bottom: 2px;
    left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.carouselDiv {
    padding: 10px;
}
ul[rn-carousel] {
    width: 100%;
    height:200px;
    margin: 0 auto;
}
.carousel-demo {
    margin-top:20px;
    display:inline-block;
    text-align: center;
}
.mainNav {
    margin-left: 0px;
    padding: 0px;
}
.mainNav .col {
    padding: 5px;
    margin: 5px;
}
.mainNav .col .button {
    font-size: smaller;
    border-color: #fff;
    background-color: transparent;
    display:block;
    padding: 0;
    margin: 0px;
    margin: 0px;

}
.mainNav .col .button img {
    display: block;
    padding: 0;
    margin: 0;
}
.textLeft {
    text-align: left;
}
.midImg .item-content {
    padding: 5px 5px;
}
.newsMidimage {
    display: block;
/*    margin-left: 15px;*/
    height: 200px;
}
.wide-as-needed {
/*    overflow: scroll;*/
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
}
/*.custom-indicator span {
    text-align: right;
}
.custom-indicator span.active {
    color:#ba1820 !important;
}*/
