<ion-view view-title="{{ 'MyTask' | translate }}">
    <ion-header-bar class="bar-subheader">
        <ion-scroll direction="x" class="wide-as-needed">
            <a ng-class="{'button button-clear': currentType!='doing','button button-clear button-calm': currentType== 'doing'} "
               href="#/tab/tasks/doing">
                {{'taskDoing' | translate }} |
            </a>
            <a
                    ng-class="{'button button-clear': currentType!='finish','button button-clear button-calm': currentType== 'finish'} "
                    href="#/tab/tasks/finish">
                {{'taskFinished' | translate }} |
            </a>
            <a ng-class="{'button button-clear': currentType!='all','button button-clear button-calm': currentType== 'all'} "
               href="#/tab/tasks/all">
                {{'All' | translate }} |
            </a>
            <a ng-class="{'button button-clear': currentType!='all','button button-clear button-calm': currentType== 'assigntask'} "
               href="#/tab/assigntasks">
                {{'PaiGongTask' | translate }} |
            </a>
            <!--<a ng-class="{'button button-clear pull-right':selectedEndProcess.length == 0,'button button-clear pull-right button-calm': selectedEndProcess.length != 0}" ng-disabled="selectedEndProcess.length == 0" ng-click="batchConfirm('end')">{{'BatchEnd' | translate }}</a>
            <a ng-class="{'button button-clear pull-right':selectedStartProcess.length == 0,'button button-clear pull-right button-calm': selectedStartProcess.length != 0}" ng-disabled="selectedStartProcess.length == 0" ng-click="batchConfirm('start')">{{'BatchStart' | translate}}</a>
            --><!-- <span class="search-right">
                           <input type="text" placeholder="Search"/>
                       </span>-->
        </ion-scroll>
    </ion-header-bar>
    <ion-content id="taskContent">
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class="list" id="taskList">
            <ion-item  ng-repeat="item in taskList" class="item"><!-- href="#/tab/components/{{item.projectID}} -->
                <div ><!-- ng-if="item.componentStyle"  -->
                   <h2>{{'projectName' | translate }}: {{::item.projectPathName }}</h2>
<!--                    <p>{{'component' | translate }}: {{::item.componentName}} </p>-->
                    <p>{{'subComponent' | translate }}: {{item.subComponentName}}</p>
                    <p>{{'componentStyle'| translate }}: {{item.styleName}} ~ {{item.processName}}<!--{{item.componentStyle.styleName}} - {{item.componentStyle.processName}}--></p>
                    <p ng-if="item.startDate">{{'confirmStartDate' | translate }}: {{item.startDate | date:'yyyy-MM-dd HH:mm:ss' }}</p>
                    <p ng-if="item.endDate">{{'confirmEndDate' | translate }}: {{item.endDate | date:'yyyy-MM-dd HH:mm:ss' }}</p>
                </div>
                <div class="row confirmButton" ng-if="item.owner">
                    <div class="col col-33">
                        <label class="toggle toggle-small">
                            <input type="checkbox" ng-checked="selectedStartProcess.indexOf('{{item.projectID}}##{{item.subComponentID | escape}}##{{item.styleProcessID}}') > -1"
                                   ng-click="toggleProcess('{{item.projectID}}##{{item.subComponentID | escape}}##{{item.styleProcessID}}','start')"
                                   id="start-{{item.projectID}}-{{item.subComponentID | escape}}-{{item.styleProcessID}}"
                                   ng-disabled="item.startDate">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                        <a class="button button-positive button-small" ng-disabled="item.startDate"
                           ng-href="#/tab/processconfirm/{{item.projectID}}/{{item.subComponentID | escape}}/{{item.styleProcessID}}/start/task/{{styleID}}/{{currentType}}"> {{'confirmStart' | translate }} </a>
                    </div>

                    <div class="col col-33">
                        <label class="toggle toggle-small">
                            <input type="checkbox" ng-checked="selectedEndProcess.indexOf('{{item.projectID}}##{{item.subComponentID | escape}}##{{item.styleProcessID}}') > -1"
                                   ng-click="toggleProcess('{{item.projectID}}##{{item.subComponentID | escape}}##{{item.styleProcessID}}','end')"
                                   id="end-{{item.projectID}}-{{item.subComponentID | escape}}-{{item.styleProcessID}}"
                                   ng-disabled="item.endDate || !item.startDate">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                        <a class="button button-positive button-small" ng-disabled="item.endDate || !item.startDate"
                           href="#/tab/processconfirm/{{item.projectID}}/{{item.subComponentID | escape}}/{{item.styleProcessID}}/end/task/{{styleID}}/{{currentType}}"> {{'confirmEnd' | translate }} </a>
                    </div>
                    <div class="col col-33">
                        <a class="button button-small"  href="#/tab/processconfirm/{{item.projectID}}/{{item.subComponentID | escape}}/{{item.styleProcessID}}/note/task/{{styleID}}/{{currentType}}">{{'confirmQuestion' | translate }}</a>
                    </div>
                </div>
                <div class="row confirmButton" ng-if="!item.owner">
                 <div style="color:red">{{'preProcessNotFinish' | translate}}</div>
                </div>
            </ion-item>
            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoadMore()"></ion-infinite-scroll>
    </ion-content>

    <ion-botton-bar></ion-botton-bar>
</ion-view>
<div class="tabs" id="batchButton"><!-- ng-disabled="selectedStartProcess.length == 0" ng-disabled="selectedEndProcess.length == 0" -->
    <a ng-class="{'tab-item':selectedStartProcess.length == 0,'batchConfirm_active tab-item' :selectedStartProcess.length > 0}"
       ng-disabled="selectedStartProcess.length == 0"
       ng-click="batchConfirm('start')">{{'BatchStart' | translate}}</a>
    <a class="tab-item tab-item-calm" ng-class="{'tab-item':selectedEndProcess.length == 0,'batchConfirm_active tab-item' :selectedEndProcess.length > 0}"
       ng-disabled="selectedEndProcess.length == 0" ng-click="batchConfirm('end')">{{'BatchEnd' | translate }}</a>
</div>