<ion-view view-title="{{ ::Project}}">
    <ion-content>
        <ion-refresher
                pulling-text="{{ ::PullToFresh}}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-divider">{{'component'|translate}}</ion-item>
            <ion-item class="item-body">
                <h2 ng-show="component">{{'component'|translate}}: {{::component.componentName}}</h2>
                <h2 ng-show="subComponent">{{'subComponent'|translate}}: {{::subComponent.subComponentName}}</h2>
                <p>
                 --   {{::currentUser.company.companyFullName}}
                </p>
            </ion-item>
            <ion-item class="item-divider">{{'componentStyleList' | translate}}</ion-item>
            <div ng-repeat="item in componentStyleList track by $index" class="item" ><!--href="#/tab/processconfirm/{{component.project.projectID}}/{{componentID}}/{{item.styleProcessID}}" -->
                    <h2>{{ ::item.styleName}} - {{::item.processName}}</h2>
                <p ng-show="item.processMid && item.processMid.startDate">{{::confirmStartDate}}: {{item.processMid.startDate | date:'yyyy-MM-dd HH:mm:ss' }}</p>
                <p ng-show="item.processMid && item.processMid.endDate">{{::confirmEndDate}}: {{item.processMid.endDate | date:'yyyy-MM-dd HH:mm:ss' }}</p>

                <div class="row confirmButton">
                    <div class="col col-33">
                        <!--                        <a class="button button-small" ng-if="item.processMid.startDate" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.component.componentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>-->
                        <a class="button button-positive button-small" ng-if="item.operationer" ng-disabled="item.processMid.startDate" href="#/tab/processconfirm/{{component.project.projectID}}/{{componentID}}/{{item.styleProcessID}}/start/project">{{::confirmStart}}</a>
                    </div>

                    <div class="col col-33">
                        <!--                        <a class="button button-small" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.component.componentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>-->
                        <a class="button button-positive button-small" ng-if="item.operationer" ng-disabled="item.operationer && item.processMid.endDate || !item.processMid.startDate" href="#/tab/processconfirm/{{component.project.projectID}}/{{componentID}}/{{item.styleProcessID}}/end/project">{{::confirmEnd}}</a>
                    </div>
                    <div class="col col-33">
                        <!--                        <a class="button button-small" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.component.componentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>-->
                        <a class="button button-small" ng-if="item.operationer"  href="#/tab/processconfirm/{{component.project.projectID}}/{{componentID}}/{{item.styleProcessID}}/note/project">{{::confirmQuestion}}</a>
                    </div>
                </div>
                <!--<a class="button button-clear item-note" ng-if="item.operationer" href="#/tab/processconfirm/{{component.project.projectID}}/{{componentID}}/{{item.styleProcessID}}">
                    <i class="ion-arrow-right-a"></i>
                </a>-->
            </div>
            <ion-item ng-if="noContent">{{::EmptyContent}}</ion-item>

        </ion-list>
    </ion-content>
</ion-view>