<ion-view view-title="{{ 'ComponentList' | translate }}">
    <ion-content>
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-divider">{{'ProjectInformation' | translate }}</ion-item>
            <ion-item class="item-body">
                <h2>{{project.projectPathName}}</h2>
                <span>{{project.company.companyFullName}}</span>
            </ion-item>
            <ion-item class="item-divider">{{'ComponentList' | translate }}</ion-item>
            <ion-item ng-repeat="item in componentList" collection-item-width="'100%'" class="item" ng-click="goto(item.subComponentListSet.length,item)">
                <h2>{{ item.componentName}}</h2>
                <!--<a class="button icon-right  button-clear" ng-show="item.subComponentListSet.length" href="#/tab/subComponent/{{item.componentID}}" >
&lt;!&ndash;                    {{'childComponent' | translate}}&ndash;&gt;
                    <i class="ion-more"></i>
                </a>
                <a class="button icon-right  button-clear" ng-show="!item.subComponentListSet.length" href="#/tab/componentStyle/{{item.styleID}}/{{item.componentID}}/parent" >
&lt;!&ndash;                    {{ 'styleList' | translate }}&ndash;&gt;
                    <i class="ion-arrow-right-a"></i>
                </a>-->
            </ion-item>
            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>

        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>