<ion-view view-title="{{ 'Project' | translate }}">
    <ion-content>
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-divider">Project Information</ion-item>
            <ion-item>
                Project
            </ion-item>
            <ion-item class="item-divider">Comonent List</ion-item>
            <ion-item ng-repeat="item in componentList" class="item" href="#/tab/componentStyle/{{item.styleName}}/{{item.project.company.id}}">
                <h2>{{ item.componentName}}</h2>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>