<ion-view view-title="{{ 'Project' | translate }}">
    <ion-content>
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="item in projectList" class="item item-button-right" ><!-- href="#/tab/components/{{item.projectID}} -->
                <h2>{{ item.projectName }}</h2>
                <p class="summary">
                    <span>{{item.company.companyFullName}}</span>
                </p>
                <!--<p>
                    <span>Plan Date: {{item.startDate}} ~ {{item.endDate}}</span>
                </p>-->
                <a class="button icon-right  button-clear button-small" ng-show="item.childProjects.length" href="#/tab/projects/{{item.projectID}}" >
<!--                    {{'childProject' | translate}}-->
                    <i class="ion-more"></i>
                </a>
                <a class="button icon-right  button-clear button-small" ng-show="!item.childProjects.length" href="#/tab/components/{{item.projectID}}" >
<!--                    {{ 'component' | translate }}-->
                    <i class="ion-arrow-right-a"></i>
                </a>
<!--                <a class="button icon-right ion-chevron-right button-clear">child</a>-->
            </ion-item>
            <ion-item ng-show="!(projectList | filter:nameText).length">{{'EmptyContent' | translate}}</ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>