<ion-view view-title="{{ 'MyTask' | translate }}">
    <ion-header-bar class="bar bar-subheader button-right custom-subheader">
        <div class="tabs" tab-slide-box>
            <a class="tab-item tab-item-active" href="#/tab/tasks">
                <p> {{'normalTask' | translate }} </p>
            </a>
            <a class="tab-item" href="#/tab/urgenttask">
                <p> {{'urgentTask' | translate }} </p>
            </a>
        </div>
        <!--        <a class="button button-clear pull-right">Button</a>-->
    </ion-header-bar>
    <ion-content>
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class="list">
            <ion-item ng-repeat="item in taskList" class="item "><!-- href="#/tab/components/{{item.projectID}} -->
                <div ng-if="item.componentStyle" >
                    <h2>{{'projectName' | translate }}: {{ item.projectPathName }}</h2>
                    <p>{{'component' | translate }}: {{item.componentName}} </p>
                    <p>{{'subComponent' | translate }}: {{item.subComponentName}}</p>
                    <p>{{'componentStyle'| translate }}: {{ item.componentStyle.styleName}} - {{item.componentStyle.processName}}</p>
                    <p ng-show="item.processMid && item.processMid.startDate">{{'confirmStartDate' | translate }}: {{item.processMid.startDate | date:'yyyy-MM-dd HH:mm:ss' }}</p>
                    <p ng-show="item.processMid && item.processMid.endDate">{{'confirmEndDate' | translate }}: {{item.processMid.endDate | date:'yyyy-MM-dd HH:mm:ss' }}</p>
                </div>
                <div class="row confirmButton">
                    <div class="col col-33">
<!--                        <a class="button button-small" ng-if="item.processMid.startDate" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.component.componentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>-->
                        <a class="button button-positive button-small" ng-disabled="item.processMid.startDate" href="#/tab/processconfirm/{{item.projectID}}/{{item.subComponentID}}/{{item.componentStyle.styleProcessID}}/start/task">{{'confirmStart' | translate }}</a>
                    </div>

                    <div class="col col-33">
<!--                        <a class="button button-small" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.component.componentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>-->
                        <a class="button button-positive button-small" ng-disabled="item.processMid.endDate || !item.processMid.startDate" href="#/tab/processconfirm/{{item.projectID}}/{{item.subComponentID}}/{{item.componentStyle.styleProcessID}}/end/task">{{'confirmEnd' | translate }}</a>
                    </div>
                    <div class="col col-33">
<!--                        <a class="button button-small" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.component.componentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>-->
                        <a class="button button-small"  href="#/tab/processconfirm/{{item.projectID}}/{{item.subComponentID}}/{{item.componentStyle.styleProcessID}}/note/task">{{'confirmQuestion' | translate }}</a>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="5%" ng-if="canLoadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>