<ion-view view-title="{{ 'MyTask' | translate }}">
    <ion-header-bar class="bar bar-subheader button-right custom-subheader">
        <div class="tabs" tab-slide-box>
            <a class="tab-item " href="#/tab/tasks">
                <p> {{'normalTask' | translate }} </p>
            </a>
            <a class="tab-item tab-item-active" href="#/tab/urgenttask">
                <p> {{'urgentTask' | translate }} </p>
            </a>
        </div>
        <!--        <a class="button button-clear pull-right">Button</a>-->
    </ion-header-bar>
    <ion-content>
        <ion-refresher
                pulling-text="{{ 'PullToFresh' | translate }}"
                on-refresh="doRefresh()">
        </ion-refresher>
       <!-- <ion-list>
           &lt;!&ndash; <ion-item ng-if="task">
                <h2>{{task.taskName}}</h2>
                <p>{{task.taskStyle}}</p>
            </ion-item>&ndash;&gt;
            <ion-item ng-repeat="item in taskList" class="item ">&lt;!&ndash; href="#/tab/components/{{item.projectID}} &ndash;&gt;
                <h2>{{'taskName' | translate }}: {{item.taskName}}</h2>
                <p >{{'projectName' | translate }}: {{ item.project.projectPathName }}</p>
                <p>{{'taskStyle' | translate}}: {{item.taskStyle}}</p>
                <p>{{'taskDate' | translate}}: {{item.taskDate | date:'yyyy-MM-dd' }}</p>
                <ion-item ng-repeat="sub in item.subComponents" class="item item-button-right">
                    <p >{{'component' | translate }}:{{sub.subComponentName}}</p>
&lt;!&ndash;                    <a class="button button-balanced" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.project.projectID}}/{{sub.subComponentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>&ndash;&gt;
                    <a class="button button-balanced"  href="#/tab/processconfirm/{{item.project.projectID}}/{{sub.subComponentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>
                </ion-item>

&lt;!&ndash;                <p ng-show="item.subCompoent">{{item.subComponent.subComponentName}}</p>&ndash;&gt;
&lt;!&ndash;                <p>{{'componentStyle'| translate }}:{{ item.componentStyle.styleName}} - {{item.componentStyle.processName}}</p>&ndash;&gt;
            </ion-item>
            <ion-item ng-show="!(taskList | filter:nameText).length">{{'EmptyContent' | translate}}</ion-item>
        </ion-list>-->
        <ion-list class="card list">
            <ion-item ng-repeat="item in taskList" class="item "><!-- href="#/tab/components/{{item.projectID}} -->
                <div ng-if="item.componentStyle" class="item-button-right">
                    <p>{{'taskType' | translate }}: {{item.type}}</p>
                    <p>{{'projectName' | translate }}: {{ item.component.project.projectPathName }}</p>
                    <p>{{'component' | translate }}: {{item.component.componentName}}</p>
                    <p ng-show="item.subCompoent">{{item.subComponent.subComponentName}}</p>
                    <p>{{'componentStyle'| translate }}:{{ item.componentStyle.styleName}} - {{item.componentStyle.processName}}</p>
<!--                    <a class="button button-balanced" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.component.componentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>
                    <a class="button button-balanced" ng-show="item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.subComponent.subComponentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>-->
                </div>
                <div class="item row confirmButton button-bar">
                    <div class="col col-33">
                        <!--                        <a class="button button-small" ng-if="item.processMid.startDate" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.component.componentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>-->
                        <a class="button button-positive" ng-disabled="item.processMid.startDate" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.subComponent.subComponentID}}/{{item.componentStyle.styleProcessID}}/start">{{'confirmStart' | translate }}</a>
                    </div>

                    <div class="col col-33">
                        <!--                        <a class="button button-small" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.component.componentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>-->
                        <a class="button button-positive" ng-disabled="!item.processMid.startDate && !item.processMid.endDate" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.subComponent.subComponentID}}/{{item.componentStyle.styleProcessID}}/end">{{'confirmEnd' | translate }}</a>
                    </div>
                    <div class="col col-33">
                        <!--                        <a class="button button-small" ng-show="!item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.component.componentID}}/{{item.componentStyle.styleProcessID}}">{{'processConfirm' | translate }}</a>-->
                        <a class="button " ng-show="item.subComponent" href="#/tab/processconfirm/{{item.component.project.projectID}}/{{item.subComponent.subComponentID}}/{{item.componentStyle.styleProcessID}}/note">{{'confirmQuestion' | translate }}</a>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-show="noContent">{{'EmptyContent' | translate}}</ion-item>
        </ion-list>
<!--        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoadMore()"></ion-infinite-scroll>-->
    </ion-content>
</ion-view>